body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  table {
    border: 1px solid #0388b1;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    text-decoration-color: rgb(0, 0, 0);
  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr {
    border: 1px solid #3700ff;
    padding: .35em;
  }
  table tr:nth-child(even) {
    background: #8459ca;  
  }
  table th,
  table td {
    padding: .625em;
    text-align: left;
  }
  table th {
    background: #a36dfa;
    color: #7a53c2;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }